<p id="notice"><%= notice %></p>

<h1>Things To Do</h1>

<div class="row">
  <!-- Add Task Area -->
  <div class="col-sm-4">
    <h3>New Task</h3>
    <%= link_to fa_icon('plus', text: 'Add Task'), new_user_task_path, remote: true, class: 'btn btn-block btn-default', id: 'new-button' %>

    <!-- Form to be populated by JQuery -->
    <div id="task-form"></div>
  </div>

  <!-- All Tasks -->
  <div class="col-sm-8">
    <h3>All Tasks</h3>
    <div id="tasks">
      <%= render @user_tasks %>
    </div>
  </div>
</div>


